<div class="d-flex align-items-center justify-content-between mb-3">
  <h1>Casestudies</h1>
  <% if can? :update, Casestudy %>
    <%= link_to 'Create Casestudy', new_casestudy_path, class: 'btn btn-primary' %>
  <% end %>
</div>
<% @casestudies.each_with_index do |casestudy, index| %>

  <div class="card mb-3 bg-light w-50">
    <div class="card-body d-flex align-items-center">
      <h2 class="text-secondary mb-0"><%= casestudy.name %></h2>
      <p class="text-secondary mb-0 ms-5">Duartion: <%= casestudy.duration %> | Scale: <%= casestudy.scale %></p>
      <% if can? :show, Casestudy %>
        <%= link_to '', casestudy_path(casestudy), class: "stretched-link" %>
      <% end %>
    </div>
  </div>
<% end %>
